<footer class="w-screen bg-[#18191b] pt-25 relative overflow-hidden bottom-0 ">
  <div class="  show-color absolute top-[-140px] left-[-140px] ">
  </div>

  <div class="hidden lg:block absolute bottom-[140px] left-0 img-rotat1">
    <img src="./assets/img/element1.png" alt="" />
  </div>

  <div class="absolute right-6 img-rotat2 bottom-[180px]">
    <img src="assets/img/element.png" alt="" />
  </div>

  <div
    class="flex flex-col lg:flex-row w-screen lg:w-[80%] px-2 mx-auto justify-between lg:justify-between py-3 pb-22"
  >
    <!-- ** footer item-1 -->
    <div class="flex flex-col gap-2.5 justify-center items-center">
      <div class="logo">
        <!-- From Uiverse.io by zjssun -->
        <button class="button" data-text="Awesome">
          <span class="actual-text">&nbsp;Barakat&nbsp;</span>
          <span aria-hidden="true" class="front-text">&nbsp;Barakat&nbsp;</span>
        </button>
      </div>
      <p class="text-slate-400 w-[80%] lg:w-[60%] text-sm my-3 text-center">
        Agenko creative digital agency delivering innovate web Development
        marketing.
      </p>

      <form class="flex my-6 w-fit gap-2 bg-white p-2 rounded-lg">
        <input
          name="email"
          type="email"
          autocomplete="email"
          placeholder="Enter your email"
          class="px-4 py-2 rounded-lg bg-white focus:bg-slate-800 focus:text-slate-300 text-slate-400 placeholder-slate-400 focus:ring-0 focus:outline-none"
          required=""
          value=""
        />
        <button
          type="submit"
          class="px-4 py-2 text-sm font-bold uppercase bg-green-500 rounded-lg text-black active:bg-blue-800 cursor-pointer"
        >
          Subscribe
        </button>
      </form>
    </div>
    <!-- ** footer item-2 -->
    <div class="flex flex-col gap-2.5">
      <div>
        <h2 class="font-bold text-white mb-3 text-2xl text-center lg:text-left">
          Main Address
        </h2>
        <p class="text-white w-[100%] lg:w-[60%] text-sm my-3 font-semibold text-center lg:text-left  ">
          6801 Hollywood Blvd, Los Angeles, CA 90028
        </p>
      </div>
      <div class=" text-center lg:text-left ">
        <h2 class="font-bold text-white mb-3 text-2xl">Sub-Address</h2>
        <p class="text-white w-[100%] lg:w-[60%] text-sm my-3 font-semibold">
          200 Santa Monica Pier, Santa Monica, CA 90401
        </p>
      </div>
    </div>
    <!-- ** footer item-3 -->
    <div class="px-2.5 mr-2.5 text-center lg:text-left">
      <h2 class="font-bold text-white mb-3 text-2xl">Our Link</h2>
      <ul class="flex flex-col gap-2.5">
        <li>
          <a
            href="#"
            class="text-white w-[100%] lg:w-[60%] text-lg my-3 font-semibold text-center lg:text-left"
            >About us</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-white w-[100%] lg:w-[80%] text-lg my-3 font-semibold text-center lg:text-left"
            >Services</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-white w-[100%] lg:w-[60%] text-lg my-3 font-semibold text-center lg:text-left"
            >Our Project</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-white w-[80%] lg:w-[60%] text-lg my-3 font-semibold"
            >FAQ</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-white w-[100%] lg:w-[60%] text-lg my-3 font-semibold text-center lg:text-left"
            >Contact us</a
          >
        </li>
      </ul>
    </div>
    <!-- ** footer item-4 -->
    <div class="flex flex-col gap-2.5 text-center lg:text-left">
      <h2 class="font-bold text-white mb-3 text-2xl text-center lg:text-left">Contact</h2>

      <div class="flex gap-2.5 justify-center items-center text-center lg:text-left">
        <button
          class="py-[7px] px-[10px] h-fit bg-[#303032] rounded-full cursor-pointer hover:bg-green-500 hover:scale-110 transition-all duration-300 ease-in-out"
        >
          <i class="ri-mail-line text-xl text-white"></i>
        </button>

        <h3 class="text-white text-sm my-3 font-semibold text-[16px]">
          <span class="font-bold text-white text-xl"> Email: </span>
          <br />
          abdobarakat219@gmail.com
        </h3>
      </div>

      <div class="flex gap-2.5  justify-center items-center lg:justify-start lg:items-start text-center lg:text-left">
        <button
          class="py-[7px] px-[10px] h-fit bg-[#303032] rounded-full cursor-pointer hover:bg-green-500 hover:scale-110 transition-all duration-300 ease-in-out"
        >
          <i class="ri-phone-line text-xl text-white text-center lg:text-left"></i>
        </button>

        <h3 class="text-white text-sm my-3 font-semibold text-[16px] text-center lg:text-left">
          <span class="font-bold text-white text-xl text-center lg:text-left "> Phone: </span>
          <br />
          +201208217018
        </h3>
      </div>
    </div>
  </div>

  <div class="w-screen border-t border-slate-700 py-6">
    <p class="text-center text-slate-400 text-sm py-6">
      © 2024 Agenko. All rights reserved.
    </p>
  </div>

    <div class="  show-color2 absolute bottom-[-100px] right-[-100px] ">
  </div>

  
</footer>
