<header class="w-screen fixed top-0 z-9999 ">
  <div
    class="menu-contant flex flex-row w-screen lg:w-[80%] px-2 mx-auto justify-between lg:justify-between py-3"
  >
    <div class="flex gap-5 items-center justify-center">
      <div class="logo">
        <!-- From Uiverse.io by zjssun -->
         <a href="index.html">
        <button class="button " data-text="Awesome">
          <span class="actual-text bg-[#e4e4e7]  dark:bg-[#21262d] rounded-2xl ">&nbsp;Barakat&nbsp;</span>
          <span aria-hidden="true" class="front-text ">&nbsp;Barakat&nbsp;</span>
        </button>
        </a>
      </div>

      <!-- Navigation Bar -->
      <nav
        class="  bg-zinc-200 border-1 border-[#30363D] dark:bg-[#21262D] dark:border-[#D1D9E0]   rounded-2xl shadow-xl p-4 max-w-4xl mx-auto hidden lg:block"
      >
        <div class="main-menu">
          <ul class="flex justify-center gap-8">
            <!-- Home Menu -->
            <li class="relative group">
              <a
                href="index.html"
                class="block px-6 py-3 text-gray-700  dark:text-[#F0F6FC] font-semibold hover:text-green-400 hover:bg-blue-50 rounded-lg transition-all duration-300 hover:-translate-y-1"
              >
                Home
              </a>
              <div
                class="absolute top-full left-1/2 -translate-x-1/2 mt-2 w-48 bg-zinc-200 dark:bg-[#21262D] rounded-xl shadow-lg border  border-[#30363D] dark:border-blue-100 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50"
              >
                <div
                  class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-zinc-200 dark:bg-[#21262D] border-l border-t border-[#30363D] dark:border-blue-100  rotate-45"
                ></div>
                <ul class="p-2">
                  <li>
                    <a
                      href="index.html"
                      class="block px-4 py-3 text-gray-600 hover:text-white dark:text-[#F0F6FC] hover:bg-gradient-to-r hover:from-[#796cd9] hover:to-[#517d2c] rounded-lg transition-all duration-300 hover:translate-x-1"
                    >
                      Creative Agency
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Pages Menu -->
            <li class="relative group">
              <a
                href="#"
                class="block px-6 py-3 text-gray-700 dark:text-[#F0F6FC]  font-semibold hover:text-green-400 hover:bg-blue-50 rounded-lg transition-all duration-300 hover:-translate-y-1"
              >
                Pages
              </a>
              <div
                class="absolute top-full left-1/2 -translate-x-1/2 mt-2 w-48 bg-zinc-200 dark:bg-[#21262D] rounded-xl shadow-lg border border-[#30363D] dark:border-blue-100 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50"
              >
                <div
                  class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-zinc-200 dark:bg-[#21262D] border-l border-t border-[#30363D] dark:border-blue-100 rotate-45"
                ></div>
                <ul class="p-2">
                  <li>
                    <a
                      href="services.html"
                      class="block px-4 py-3 text-gray-600 hover:text-white dark:text-[#F0F6FC] hover:bg-gradient-to-r hover:from-[#796cd9] hover:to-[#517d2c]  rounded-lg transition-all duration-300 hover:translate-x-1"
                    >
                      Services
                    </a>
                  </li>
                  <li>
                    <a
                      href="about-us.html"
                      class="block px-4 py-3 text-gray-600 hover:text-white dark:text-[#F0F6FC] hover:bg-gradient-to-r hover:from-[#796cd9] hover:to-[#517d2c]  rounded-lg transition-all duration-300 hover:translate-x-1"
                    >
                      About
                    </a>
                  </li>
                                    <li>
                    <a
                      href="our-services.html"
                      class="block px-4 py-3 text-gray-600 hover:text-white dark:text-[#F0F6FC] hover:bg-gradient-to-r hover:from-[#796cd9] hover:to-[#517d2c]  rounded-lg transition-all duration-300 hover:translate-x-1"
                    >
                      our-services
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Portfolio Menu -->
            <li class="relative group  z-50">
              <a
                href="#"
                class="block px-6 py-3 text-gray-700 dark:text-[#F0F6FC]  font-semibold hover:text-green-400 hover:bg-blue-50 rounded-lg transition-all duration-300 hover:-translate-y-1"
              >
                Portfolio
              </a>
              <div
                class="absolute top-full left-1/2 -translate-x-1/2 mt-2 w-48 bg-zinc-200 dark:bg-[#21262D] rounded-xl shadow-lg border border-[#30363D] dark:border-blue-100 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50"
              >
                <div
                  class="absolute  -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-zinc-200 dark:bg-[#21262D] border-l border-t border-[#30363D] dark:border-blue-100 rotate-45"
                ></div>
                <ul class="p-2 z-40">
                  <li class="z-50">
                    <a
                      href="projects.html"
                      class="block px-4 py-3 text-gray-600 hover:text-white dark:text-[#F0F6FC] hover:bg-gradient-to-r hover:from-[#796cd9] hover:to-[#517d2c] rounded-lg transition-all duration-300 hover:translate-x-1"
                    >
                      Projects
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Contact Menu -->
            <li>
              <a
                href="contact.html"
                class="block px-6 py-3 text-gray-700 dark:text-[#F0F6FC]  font-semibold hover:text-green-400 hover:bg-blue-50 rounded-lg transition-all duration-300 hover:-translate-y-1"
              >
                Contact
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- From Uiverse.io by juanpabl0svn -->
    <div class="flex gap-5 items-center justify-center">
      <button id="theme-button" class="theme-button">
              <label for="switch" class="switch">
        <input id="switch" type="checkbox" />
        <span class="slider"></span>
        <span class="decoration"></span>

         
      </label>
      </button>


      <!-- From Uiverse.io by vinodjangid07 -->
      <button class="open-menu lg:hidden cursor-pointer z-40 " id="open-menu">
        <i class="ri-menu-4-line cursor-pointer text-3xl text-black dark:text-white"></i>
      </button>
    </div>
  </div>
</header>
<!-- todo mobile menu *********************************-->
<div
  class="mobile-menu w-[60%] h-screen absolute top-0 left-0 bg-white dark:bg-gray-800   flex flex-col z-10000 pt-5 px-3"
  id="mobile-menu"
>
  <button class="close-menu cursor-pointer z-20" id="close-menu">
    <i
      class="ri-close-large-fill text-3xl text-black dark:text-white absolute top-4 right-4 transition-transform duration-1000 hover:rotate-360"
    ></i>
  </button>

  <div class="logo">
    <!-- From Uiverse.io by zjssun -->
    <button class="button" data-text="Awesome">
      <span class="actual-text">&nbsp;Barakat&nbsp;</span>
      <span aria-hidden="true" class="front-text">&nbsp;Barakat&nbsp;</span>
    </button>
  </div>
  <div class="p-4 w-full max-w-md mx-auto bg-opacity-5">
    <!-- Home Section -->
    <details
      class="main-details w-full py-1 text-gray-700 dark:text-[#F0F6FC]  transition-all duration-300"
    >
      <summary
        class="main-summary cursor-pointer w-full border-b border-[#30363D] dark:border-blue-100 pb-2 relative font-semibold hover:text-green-accent transition-colors duration-300"
      >
        <span>Home</span>
      </summary>
      <ul class="ml-2 mt-2">
        <li>
          <details class="sub-details mb-2 border-b border-white w-full py-3.5">
            <summary
              class="sub-summary cursor-pointer font-semibold hover:text-green-accent transition-colors duration-300"
            >
              <a href="index.html" class="text-gray-700 dark:text-[#F0F6FC]  max-w-full">Creative Agency</a>
            </summary>
          </details>
        </li>
      </ul>
    </details>

    <!-- Pages Section -->
    <details
      class="main-details w-full py-1 text-gray-700 dark:text-[#F0F6FC]  transition-all duration-300"
    >
      <summary
        class="main-summary cursor-pointer w-full border-b border-[#30363D] dark:border-blue-100 pb-2 relative font-semibold hover:text-green-accent transition-colors duration-300"
      >
        <span>Pages</span>
      </summary>
      <ul class="ml-2 mt-2">
        <li>
          <details class="sub-details mb-2 border-b border-white w-full py-3.5">
            <summary
              class="sub-summary cursor-pointer font-semibold hover:text-green-accent transition-colors duration-300"
            >
              <a href="services.html" class="text-gray-700 dark:text-[#F0F6FC] ">Services</a>
            </summary>
          </details>
        </li>
        <li>
          <details class="sub-details mb-2 border-b border-[#30363D] dark:border-blue-100 w-full py-3.5">
            <summary
              class="sub-summary cursor-pointer font-semibold hover:text-green-accent transition-colors duration-300"
            >
              <a href="about-us.html" class="text-gray-700 dark:text-[#F0F6FC] ">About</a>
            </summary>
          </details>
        </li>
                <li>
          <details class="sub-details mb-2 border-b border-[#30363D] dark:border-blue-100 w-full py-3.5">
            <summary
              class="sub-summary cursor-pointer font-semibold hover:text-green-accent transition-colors duration-300"
            >
              <a href="our-services.html" class="text-gray-700 dark:text-[#F0F6FC] ">Our-services</a>
            </summary>
          </details>
        </li>
      </ul>
    </details>

    <!-- Portfolio Section -->
    <details
      class="main-details w-full text-gray-700 dark:text-[#F0F6FC]  py-1 transition-all duration-300"
    >
      <summary
        class="main-summary cursor-pointer w-full border-b border-[#30363D] dark:border-blue-100 pb-2 relative font-semibold hover:text-green-accent transition-colors duration-300"
      >
        <span>Portfolio</span>
      </summary>
      <ul class="ml-2 mt-2">
        <li>
          <details class="sub-details mb-2 border-b border-[#30363D] dark:border-blue-100 w-full py-3.5">
            <summary
              class="sub-summary cursor-pointer font-semibold hover:text-green-accent transition-colors duration-300"
            >
              <a href="projects.html" class="text-gray-700 dark:text-[#F0F6FC] ">Projects</a>
            </summary>
          </details>
        </li>
      </ul>
    </details>

    <!-- Contact Section -->
    <details
      class="main-details w-full py-1 text-gray-700 dark:text-[#F0F6FC]  transition-all duration-300"
    >
      <summary
        class="main-summary cursor-pointer w-full border-b border-white pb-2 relative font-semibold hover:text-green-accent transition-colors duration-300"
      >
        <a href="contact.html" class="text-gray-700 dark:text-[#F0F6FC] ">Contact</a>
      </summary>
    </details>
  </div>

  <!-- social -->
  <div class="px-2">
    <h3 class="font-semibold text-gray-700 dark:text-[#F0F6FC]  mb-3">Follow Us</h3>
    <div class="flex gap-3">
      <a href="#"
        ><i class="text-gray-700 dark:text-[#F0F6FC]  text-2xl ri-facebook-circle-line"></i
      ></a>
      <a href="#"><i class="text-gray-700 dark:text-[#F0F6FC]  text-2xl ri-twitter-fill"></i></a>
      <a href="#"><i class="text-gray-700 dark:text-[#F0F6FC]  text-2xl ri-linkedin-fill"></i></a>
      <a href="#"><i class="text-gray-700 dark:text-[#F0F6FC]  text-2xl ri-youtube-fill"></i></a>
    </div>
  </div>
</div>
